extends layout

block content
  h1 Welcome to #[em MembersOnlyClub], a very secret club only for members.

  if currentUser && !currentUser.status 
    p
      a(href='/passcode/getmembership') Member Code
  if currentUser && !currentUser.admin 
    p
      a(href='/passcode/getadmin') Admin Code
  h2 #{title}

  ul
    each message in list_messages
      li 
        p #[strong Title:] #{message.title}
        p #[strong Message:] #{message.text}
        if currentUser && (currentUser.status || currentUser.admin) 
          p #[strong Author:] #{message.owner.username}
          p #[strong Date:] #{message.timestamp_formatted}
        if currentUser && currentUser.admin 
          p
            a(href=message.url) Delete Message
    else
      li There are no messages


